
h1{
    color: #fff;
}
.container{
    margin-top: 20px;
    border-radius: 5px;
    padding: 20px;

}
button.btn:hover{
    background: rgb(6, 58, 6);
}
#results{
    margin-top: 20px;
    width: 100%;
    height: 100vh;
    display:flex;
}